<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3 style="background-color: gold"> Course Highlights...</h3>
 <ol type="1" ol="hover">
                <li>100% Placements</li>
                <li>Real-Time Faculty</li>
                <li>No 1 institute in country</li>
                <li>Intership For Freshers</li>
                <li>Placed thosuands of students in mncs</li>
                <li>24 *7  support</li>
                <li>Certification Exam</li>
                <li>Google CEO from our institute only...</li>
                <li>Real time projects </li>
                <li>limited seats available</li>
                <li>30 years industry</li>
                <li>50% discount in course fees</li>
                <li>Hurry up 50% off</li>
                <li>Talent EXAM</li>
                <li>90 branches in india</li>
                <li>5 branches in international.</li>
                <li>course free until got job once u paid</li>
                <li>author of no 1 python book</li>
                <li>also train how to face interview</li>
                <li>tie-up with top MNcs</li>
                <li>Lab available with co-ordinate</li>
            </ol>

</body>
</html>