{%  extends 'base.html' %}

<html>
<head>
    <title></title>
</head>
<body>
{% block content %}

<style>
h5{
    color: crimson;
    margin: 50px;
}
P {
    color: blue;
    margin: 5px;
  }

</style>

<h5> About Founder :</h5>
<div class="contairer-fluid">
    <div class="row">
         <div class="offset-md-2 col-md-6">
             <p>


                  Founder & CEO of Durgasoftware Solutions Mr Narayana ( B.Tech),Graduate from Andhra University and then started working as Software Engineer from TCS.

                  After few years of working found that there is a BIG GAP between what Corporates want and what candidate’s posses.

                  After seeing this situation, Immediately he quit the Job and conducted a research across institutions, industry and students, for 8 months and realised students are gems, but lack of innovative things they failed, So he started “NARAYANA TECH HOUSE” for very less price in the market and to enhance the quality of people in to Corporate field by giving best knowledge to students via teaching and skill development.

                  After years of struggle, he was succeeded in that and giving Knowledge as well as innovative thoughts to enter in corporate field for lakhs of students in a span of 8 years and Now his dreams come true that his students enters in to the corners of whole world and became INDIA’S NO #1 in SOFTWARE TRAINING INDUSTRY as NHT.


             </p>
         </div>
        <div class="offset-md-10 col-md-2">
            hi
        </div>
    </div>
</div>


{% endblock %}
</body>
</html>